html{background-color: transparent;}
body{  
    background-image: url(https://titan.csit.rmit.edu.au/~s3707035/media/logo.png); 
    background-attachment: fixed; 
    background-size: cover;
	}

html{
  min-height:100vh;}

body {
  min-height:calc(100vh - 40px);
}

.footers {
	float:left;
    font-family: 'Slabo 27px', serif, sans-serif;
 	font-size: 15px;
	position: sticky;
    margin-top: 200px;}

.title {
  	font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 80px;
  	letter-spacing: .1em; 
  	margin-top: 20px;
  	margin-bottom: 20px;
	margin-left: 650px;
  	padding: 1px;}

header,
.header{
  position: absolute; 
  top: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 120px;
  letter-spacing: .1em; 
  margin-left: 0px;}

nav{
  margin-top: 0px;
  padding: 5px;
margin-left: 0px;} 

button{
  border: none;
  background: transparent;}

header,

main{
  padding: 1px;}
aside,

section{ 
	margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;}

article,

details,


div { font-family: 'Slabo 27px';
		font-size: 100px;}



/* Give each semantic body element a different color */

header,

nav,

main,

footer,

article,

aside,

section,

details,

div,

/* Some basic styling for the starting page */

header,
 
main{ 
	font-family: 'Slabo 27px', serif;
  	font-size: 40px;}

.homebutton{
	margin-right: 1400px;}   

.products{
	color: #000000;
	font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 40px;
  	letter-spacing: .1em;}

.products:hover{
	width: 200px;
	box-shadow: 6px 6px #3300CC}

.login{
	color: #000000;
	font-family: 'Love Ya Like A Sister', cursive;
    font-size: 40px;
    letter-spacing: .1em;}

.login:hover{
	width: 200px;
	box-shadow: 6px 6px #3300CC}

.overlay {
  position: absolute;
  border-radius: 200px;
  margin-top: 7px;
  margin-left: 0px;
  padding: 0px;top: 0;
  height: 30%;
  width: 13%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D8D8D8;}

.header:hover .overlay {
	opacity: .3;}

header,



table{
	top: 100px;
	margin-left: 300px;
	margin-top: 10px;
	table-layout: auto;
    width: 70%; 
	border: 1px solid black;
	padding: 10px; 
 }

.button:hover {
    background-color: #D3D3D3;
}
.cancel{
	margin-top: -100px;
	text-align: right;
}
.checkout{
		margin-left: 700px;}





