html{background-color: transparent;}
body{
	background-image:    
	url(https://titan.csit.rmit.edu.au/~s3707035/media/logo.png); 
    background-attachment: fixed; 
	background-size: cover;}
     
html{
	min-height:100vh;}

body{
	min-height:calc(100vh - 40px);}

/* Give all semantic body elements uniform layout style */

.header{
	position: absolute;
	float: left;
}

nav{
	position: absolute;
  margin-top: 0px;
  padding: 5px;
margin-right: 1200px} 

button{
  border: none;
  background: transparent;
  margin-top: 40px;}

.overlay {
  position: absolute;
  border-radius: 200px;
  margin-top: 7px;
  margin-left: 0px;
  padding: 0px;top: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #D8D8D8;}

.header:hover .overlay {
	opacity: .3;}



.button:hover {
    background-color: #D3D3D3;
	border-radius: 50px;}


table {
	margin-top: -150px;
	margin-left: 450px;
	margin-bottom: 100px;
	text-align: right;
	width: 100;
	position: static;
	margin-bottom: 100px;
	font-family: 'Slabo 27px', serif, sans-serif;
	font-weight: 100;
	
}
main{
  padding: 1px;
}

footer,

aside,

section,

article,

details,

div,

/* Give each semantic body element a different color */
header,

nav,

main,

footer,

article,

aside,

section,

details,

div,

/* Some basic styling for the starting page */

header

main
	{ font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 35px;
    text-align: center;
}

.homebutton{
	margin-right: 1400px;}   


.title {
	position: absolute;
  	font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 60px;
  	letter-spacing: .1em; 
  	text-shadow: 3px 3px #D3D3D3;
  	margin-top: -40px;
	margin-left: 480px;
  	margin-bottom: 100px;
  	padding: 1px;}
.email{
	position: absolute;
	font-family: 'Slabo 27px', serif, sans-serif;
	text-align: right;
	margin-left: 400px;
}

.error{ font-family: 'Slabo 27px', serif, sans-serif;
  	position: relative;
	font-size: 20px;
	 color: #e60000;
	float: left;
	padding-left: 0px;
	font-weight: 300;
}


.other{
	position:absolute;
	margin-top: 0px;
	margin-left: 200px;
}

.break{
	margin-top: 15px;
}

.footers{
	position: absolute;
	bottom: auto;
	font-family: 'Slabo 27px', serif, sans-serif;
 	font-size: 15px;
	background-color:transparent;
}
.footerspace{ text-align: left;
	float: left;
	font-family: 'Slabo 27px', serif, sans-serif;
	font-size: 15px;
margin-top:50px;}






