html{background-color: transparent;}
body{  
    background-image: url(https://titan.csit.rmit.edu.au/~s3707035/media/logo.png); 
    background-attachment: fixed; 
    background-size: cover;
	width: 21cm;
  height: 29.7cm;
	}
         
.header{
  position: absolute; 
  top: 12px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 120px;
  letter-spacing: .1em; 
  margin-left: 2px;}

  .company-address {
	      
	  margin-top: 200px;
	  padding: 7px;
float: left;
	  margin-left: 25px;
position:static; 
	  font-size: 12px;
	  text-align: center
                    } 

div.footers {
	float:left;
    font-family: 'Slabo 27px', serif, sans-serif;
 	font-size: 15px;
	position: relative;
	bottom: -520px;
  }

div.footerspace{
	float:left;
    font-family: 'Slabo 27px', serif, sans-serif;
 	font-size: 15px;
	position: absolute;
	margin-top: 600px;
	
}


    .invoice {
        border:1px solid #696969;
        padding:10px;
        height:700pt;
        width:570pt;
        }
  
         
     .invoice-details {
            border:1px solid #A9A9A9;
            float:right;
            width:180px;
		 text-align: center;
		 padding-right: 0px;
        }



     .customer-address {
		 position: static;
		  font-size: 20px;
		 padding: 5px;
            border:1px solid #A9A9A9;
            float:right;
		margin-left: 400px;
            margin-bottom:50px;
            margin-top: -150px;
            width:200pt;
		
        }
         
     .clear-fix {
		 margin-top: 320px;
            clear:both;
            float:none;

        }
main{ 
	font-family: 'Slabo 27px', serif;
  	font-size: 20px;}


         
        table {
            width:100%;
        border: 1; 
	} 

        th {
            text-align: left;
        }
         
        td {
        }
         
        .text-left {
            text-align:left;
        }
         
        .text-center {
            text-align:center;
        }
         
        .text-right {
            text-align: right;
			padding-right: 10px;
        }
.text-righty{
	text-align: right;
	padding-right:  25px;

		
}

.tots{
	text-align: right;
	font-weight: bold;
	font-size: 23px;
	
}

.bottom-text{
	text-align: right}
}











/* Give each semantic body element a different color */

header,

nav,

main,

footer,

article,

aside,

section,

details,

div,

/* Some basic styling for the starting page */

 

