html{background-color: transparent;}
body{
	background-image:    
	url(https://titan.csit.rmit.edu.au/~s3707035/media/logo.png); 
    background-attachment: fixed; 
	background-size: cover;}
     
html{
	min-height:100vh;}

body{
	min-height:calc(100vh - 40px);}
	
/* Give all semantic body elements uniform layout style */
header{
  margin-top: 10px;
  padding: 5px;} 

button{
  border: none;
  background: transparent;
  margin-top: 20px;}

nav,

table {
	margin-top: -350px;
	margin-left: 450px;
	text-align: right;
	width: 100;
	position: static;
	margin-bottom: 100px;
	font-family: 'Slabo 27px', serif, sans-serif;
	font-weight: 100;
	
}
main{
  padding: 1px;
}

footer,

aside,

section,

article,

details,

div,

/* Give each semantic body element a different color */
header,

nav,

main,

footer,

article,

aside,

section,

details,

div,

/* Some basic styling for the starting page */

header

main
	{ font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 35px;
    text-align: center;
}

.homebutton{
	margin-right: 1400px;}   

.button:hover {
    background-color: #D3D3D3;
	border-radius: 50px;}
	    
.overlay {
  	position: absolute;
  	border-radius: 200px;
  	margin-top: 10px;
  	margin-left: 580px;
  	padding: 5px;top: 0;
  	height: 43%;
  	width: 21%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: #D8D8D8;}

.header:hover .overlay {
	opacity: .3;}

.title {
  	font-family: 'Love Ya Like A Sister', cursive;
  	font-size: 80px;
  	letter-spacing: .1em; 
  	text-shadow: 3px 3px #D3D3D3;
  	margin-top: 0px;
  	margin-bottom: 10px;
  	padding: 1px;}
.email{
	position: absolute;
	font-family: 'Slabo 27px', serif, sans-serif;
	text-align: right;
	margin-left: 400px;
}

.error{ font-family: 'Slabo 27px', serif, sans-serif;
  	position: relative;
	font-size: 20px;
	 color: #e60000;
	float: left;
	padding-left: 0px;
	font-weight: 300;
}
.other{
	position:absolute;
	margin-top: -20px;
	margin-left: 200px;
}

.break{
	margin-top: 15px;
}

.footers{
	position: absolute;
	bottom: auto;
	font-family: 'Slabo 27px', serif, sans-serif;
 	font-size: 15px;
	background-color:transparent;
}
.footerspace{ text-align: left;
	float: left;
	font-family: 'Slabo 27px', serif, sans-serif;
	font-size: 15px;
margin-top:50px;}






