/* Make HTML and body content viewable, layout to fill window */
html{background-color: transparent;}
body
 {  
    background-image: url(https://titan.csit.rmit.edu.au/~s3707035/media/logo.png); 
    background-attachment: fixed; 
    background-size: cover;
     }

html {
  min-height:100vh;
}


}
body {
  min-height:calc(100vh - 40px);
}


/* Give all semantic body elements uniform layout style */
header,
.head{
	position: absolute; 
	top: 0;
 font-family: 'Love Ya Like A Sister', cursive;
  font-size: 120px;
  letter-spacing: .1em; 
  margin-left: 310px;
	

 
}
nav{
  margin-top: 0px;
  padding: 5px;} 

button{
  border: none;
  background: transparent;
}
header,
main{
  padding: 1px;
  }

footer,

aside,
section{ margin-top: 0px;
    margin-bottom: 0px;
  padding: 1px;}
article,
details,
div,
/* Give each semantic body element a different color */
header,
nav,
main,
footer,
article,
aside,
section,
details,
div,

/* Some basic styling for the starting page */

header,
 
main
{ font-family: 'Slabo 27px', serif;
  font-size: 40px;
    }

.homebutton{
	margin-right: 1400px;
	}   

.products{
	color: #000000;
	 font-family: 'Love Ya Like A Sister', cursive;
  font-size: 40px;
  letter-spacing: .1em; 
}

.products:hover{
	width: 200px;
	box-shadow: 6px 6px #3300CC
	 
}

.login{
	color: #000000;
	 font-family: 'Love Ya Like A Sister', cursive;
  font-size: 40px;
  letter-spacing: .1em; 
  }

.login:hover{
	width: 120px;
	box-shadow: 6px 6px #3300CC
	 
}




.overlay {
  position: absolute;
  border-radius: 200px;
  margin-top: 7px;
  margin-left: 0px;
  padding: 0px;top: 0;
  height: 30%;
  width: 13%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D8D8D8;
}

.header:hover .overlay {
	opacity: .3;}

section {
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: .2em; 
    text-shadow: 3px 3px #3c3c3c;}

table, th, td{
	margin-left: 220px;    
	font-family: 'Slabo 27px', serif, sans-serif;
    border-collapse: collapse;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
	
}

table{
	position:absolute;
	top: 150px;
	table-layout: fixed;
	width: 80%;
	margin-left: 300px;
	}
    
p.price{
	position: absolute; 
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 400px;
	font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
   
	
}
p.first{font-family: 'Love Ya Like A Sister', cursive;
	font-size: 35px;
	position:absolute;
	top: 24px;
	
} 
p.body {margin-top: 0px;
	font-size: 32px;
text-align: center;
text-indent: 20%}

.overlayglamp{
	width: 320px;
	height: 620px;
	padding-top: 0px;
	padding-right: 40px;
	padding-left: 40px;
	background: url("https://titan.csit.rmit.edu.au/~s3707035/media/greenlamp1.JPG") no-repeat;
	transition: .6s ease;
}

.overlayglamp:hover {
	width: 320px;
	height: 620px;
	background: url("https://titan.csit.rmit.edu.au/~s3707035/media/whitelamp1.JPG") no-repeat;
	}

select {
	margin-top: 0px;
	border-color: #696969;
	border-radius: 25px;
	width: 250px;
   font-family: 'Slabo 27px', serif, sans-serif;
   font-size: 30px;
	font-weight: bold;
	
}
.buybutton:hover{
    background-color: #696969;
	border-radius: 50px;}

p.quanity {
  font-family: 'Slabo 27px', serif, sans-serif;
   font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 8px;}

.minusbutton:hover {
	background-color: #D0D0D0;
	border-radius: 30px;
	}

.plusbutton:hover {
	background-color: #D0D0D0;
	border-radius: 30px;
	}

input{ 
	border-color: #696969;
	border-radius: 15px;
	width: 80px;
   font-family: 'Slabo 27px', serif, sans-serif;
   font-size: 30px;
	font-weight: bold;
	text-align: center;
	
}

.buybutton{
	margin-top: 50px;
}
    
	

header,

.footers  
	 {float:left;
      font-family: 'Slabo 27px', serif, sans-serif;
 	  font-size: 15px;
	  position: fixed;
	  bottom:0;
}
footer,



